/* .profile-page {
  display: flex;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  justify-content:space-between;

} */

.profile-info {
  flex-basis: 30%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.profile-content {
  flex-basis: 70%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(12, 12, 12, 0.1);
}

.sos-req {
  margin-top: 20px;
}

.sos-req div{
  padding-bottom: 10px;
}

button {
  margin-left: 10px;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.profile-content div p {
  margin: 0; 
  padding: 2px 0; 
}
.details{
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.profile-page {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}

.main-layout {
  display: flex;
  gap: 20px;
}

.side-panel {
  /* flex-basis: 30%; */
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  /* gap: 20px; */
}

.emergency-contact {
  flex-basis: 70%;
}

/* .profile-info,
.sos-req,
.emergency-contact {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
} */
